<div class="login-container container">
<div class="login-bar login-headbar"></div>

<img src="images/logo.png" width="232" height="70">
<form ua-login>
	<input name="login" class="form-control" placeholder="Username" area-label="Username" type="text"><br>
	<input name="password" class="form-control" placeholder="Password" aria-label="Password" type="password"><br>
	<div><span class="remember-check"><input type="checkbox" name="remember"> <label class="blue-text" for="remember"> Remember Me</label></span>
	<a class="forgot-password" href="#/reset-password">Forget your password?</a></div>
	<button type="submit">LOGIN</button>
	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>

<div class="login-bar login-footbar">*All your information on this site is 100% secure. Read our security policy*</div>
</div>
