<div ng-show="!verificationEmailSent">
	<p>Sign up</p>
	<span>Are You Financially Savvy?</span>
	<p>Ubiased Financial Workshops & Financial</p>
	<p>Planning for <span>GoDaddy.com</span> Employees</p>
	<span>Get Your Financial Wellness Score Today!</span>

	<form ua-signup>
		<input name="first_name" placeholder="First Name"><br>
		<input name="last_name" placeholder="Last Name"><br>
		<input name="login" ua-is-email placeholder="Email Address"><br>
		<input name="password" placeholder="Password" type="password"><br>
		<input name="password-confirm" placeholder="Confirm Password" type="password"><br>
		<p><button type="submit">SUBMIT</button></p>

		<!-- <div class="signup-draw-container">
		<div class="blue-text signup-draw-primary">New to In The Black?</div>
		<div class="orange-text signup-draw-secondary">IT ONLY TAKES 30 SECONDS</div>
		<button class="signup-draw-button"><a href="#/signup">SIGN UP HERE</a></button>
		</div> -->

		<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
		<p ng-show="error">{{ error.message }}</p>
		<p>*All your information on this site is <span>100% secure</span>. Read our security policy*</p>
	</form>
</div>

<!-- <div ng-show="verificationEmailSent">
 -->
<div>
	<div class="headbar"></div>
	<div>
		<img src="images/yeoman.png" alt="Check your email" height="40" width="70">
		<b>Check Your Email</b>
		<p>Thank you...</p>
	</div>
	<div class="row">
		<div class="col-md-8"><img src="images/yeoman.png"> RESEND VERIFICATION EMAIL</div>
		<div class="col-md-4"><img src="images/logo.png"></div>
	</div>
	<div class="footbar">*All your information on this site is <span>100% secure</span>. Read our security policy*</div>
</div>
