<img src="images/icon/bubble.png" class="talk-bubble" height="20" width="20">
<img ng-src="images/sample/john.jpg" class="chat-head" height="90" width="90">
<div class="chat-name shift-up">JOHN SMITH, CFP</div>
<div class="convo-box question shift-up">
	{{e.text}}
</div>

<img src="images/icon/bubble.png" class="talk-bubble" height="20" width="20">
<img ng-src="images/sample/jane.jpg" class="chat-head" height="90" width="90">
<div class="chat-name shift-up">{{user.first_name}}</div>
<div class="convo-box answer shift-up">
	<span ng-if="readonly">{{eanswer}}</span>
	<input ng-show="!readonly" ng-model="eanswer" ng-blur="updateErrorStatus($event)"
	ng-keypress="checkEnterPressed($event)" type="text" autofocus></input>
</div>
