<div class="header">
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" ng-href="#/"><img src="images/logo.png"></a>
			</div>

			<div class="collapse navbar-collapse" id="js-navbar-collapse">

				<ul class="nav navbar-nav"  ng-hide="hideNavLinks" bs-active-link>
					<li class="active"><a ng-href="#/wellness">WELLNESS SCORE</a></li>
					<li><a ng-href="#/learning">ONLINE LEARNING</a></li>
					<li><a ng-href="#/workshops">WORKSHOPS</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-show="user.authenticated">
						<img class="nav-img" src="images/profile.png" width="20" height="20" >
						<a id="nav-prof-link" ng-href="#">PROFILE</a>
					</li>
					<li ng-show="user.authenticated">
						<img class="nav-img" src="images/logout.png" width="20" height="20" >
						<a id="nav-logout-link" ng-href="#" ua-logout>LOG OUT</a>
					</li>
					<li ng-show="!user.authenticated">
						<button class="login-btn"><a ng-href="#/login">Sign In</a></button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
