<img src="images/icon/bubble.png" class="talk-bubble" height="20" width="20">
<img ng-src="images/sample/john.jpg" class="chat-head" height="90" width="90">
<div class="chat-name shift-up">JOHN SMITH, CFP</div>
<div class="convo-box question shift-up">
	{{q.text}}
</div>

<img src="images/icon/bubble.png" class="talk-bubble" height="20" width="20">
<img ng-src="images/sample/jane.jpg" class="chat-head" height="90" width="90">
<div class="chat-name shift-up">{{user.first_name}}</div>
<div class="convo-box answer shift-up">
	<span ng-if="readonly">{{q.answer | joinList }}</span>

	<input name="answer" ng-if="!readonly && (!q.type || q.type === 'text')"
	ng-model="q.answer" ng-blur="updateStatus('text')"
	ng-keypress="checkEnterPressed($event)" type="text" class="form-control" autofocus>

	<div ng-if="!readonly && q.type === 'check'">
		<div ng-repeat="opt in q.opts">
			<label>
				<input type="checkbox" ng-model="q.answer[$index]"
				ng-true-value="{{opt}}" class="form-control">
				{{opt.label}}
			</label>
		</div>
		<input type="button" value="Save" ng-click="updateStatus('check')">
	</div>

	<div ng-if="!readonly && q.type === 'radio'">
		<div ng-repeat="opt in q.opts">
			<label>
				<input type="radio" ng-model="q.answer" ng-value="opt" class="form-control">
				{{opt.label}}
			</label>
		</div>
		<input type="button" value="Save" ng-click="updateStatus('check')">
	</div>

	<div ng-if="!readonly && q.type === 'dropdown'">
		<select ng-model="q.answer" ng-options="opt as opt.label for opt in q.opts" class="form-control"></select>
		<input type="button" value="Save" ng-click="updateStatus('check')">
	</div>

</div>

<div ng-if="e.isError" class="convo-errors" ng-repeat="e in q.errors">
	<error-pair></error-pair>
</div>

