/* variables */
$primary-color: #F37E35;
$secondary-color: #2F6E9F;

/* main.css */
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	padding: 0;
	background-color: #F4F5F5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

/* conversation.css */
.user-name {
	color: $primary-color;
}
#conv-sidebar {
	border: 2px solid #EDEEED;
	padding: 0;
}
.greeting-head {
	$size: 100px;
	height: $size;
	width: $size;
	border-radius: $size/2;
	margin-bottom: 10px;
}
.greeting {
	margin: 5px auto 15px auto;
	width: 150px;
	text-align: center;
	font-size: medium;
	font-weight: bold;
}
.category {
	height: 50px;
	font-weight: bold;
}
.category.odd {
	background-color: #F4F5F5;
}
.category.even {
	background-color: #EDEEED;
}
.category.active {
	background-color: #FEFEFE;
	color: $primary-color;
	border-left: 3px solid $primary-color;
	.icon-container {
		background-color: #FEFEFE;
	}
}
.icon-container {
	background-color: #EFEFEF;
	display: inline-block;
	height: 50px;
	width: 50px;
	padding: 10px;
	.icon {
		height: 100%;
		width: 100%;
	}
}
.icon {
	height: 20px;
	width: 20px;
}
.cat-name {
	margin-left: 7px;
}

#conv-progress-bar-container {
	background-color: #EDEEED;
	margin-left: 0; /* counteract .row */
	padding: 10px;
	min-height: 90px;
}
#prog-bar {
	margin-left: auto;
	margin-right: auto;
}

.prog-caption {
	display: inline-block;
	color: $primary-color;
	background-color: white;
	padding: 5px 9px 5px 9px;
}
.arrow-down {
	position: relative;
	top: 40px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
}
.arrow-down.prog-active {
		border-top-color: $primary-color;
}
.arrow-down.left-tri{
	right: 58px;
}
.arrow-down.mid-tri{
	right: 75px;
}
.arrow-down.right-tri{
	right: 68px;
}
#prog-caption-container {
	width: 100%;
}

.prog-circle {
	display: inline-block;
	position: relative;
	top: 42px;
	right: 84px;
	color: $primary-color;
	background-color: white;
	width: 20px;
	height: 20px;
	padding-left: 6px;
	border-radius: 50%;
	line-height: 20px;
	box-shadow: 2px 2px 7px 3px gray;
}
#prog-circle-1 {
	right: 118px;
}
#prog-circle-2 {
	right: 85px;
}
#prog-circle-3 {
	/*right: 30px;*/
}

div.prog-active {
	color: white;
	background-color: $primary-color;
}

.prog-link {
	position: absolute;
  top: 50px;
  left: 3%;
	height: 14px;
	color: white;
	background-color: white;
	border-top: solid $primary-color 2px;
	border-bottom: solid $primary-color 2px;
	margin-left: 10px;
	padding-right: 93%;
}

button.save-button {
	color: white;
	border-radius: 3px;
}
button#exit {
	background-color: $primary-color;
	position: relative;
	top: 35px;
}
button#continue {
	background-color: $secondary-color;
}

#conv-main {
	padding: 0;
}

#conv-chat {
	padding: 15px;
}

.convo-form {
	padding-left: 30px;
}

button.save-button {
	float: right;
}
/* qapair.css */
.convo-box {
	min-height: 60px;
	background-color: #E7EBF0;
	margin-bottom: -60px; /* counteract .shift-up */
	border-left: 80px solid #E7EBF0;
}
.convo-box.answer {
	background-color: $primary-color;
	border-left-color: $primary-color;
	color: white;
	input {
		background-color: $primary-color;
		border-width: 1px;
	}
}

.talk-bubble {
	$size: 20px;
	width: $size;
	height: $size;
	border-radius: $size/2;
	border: 3px solid white;
	background-color: white;
	position: relative;
	z-index: 6;
	left: 51px;
	bottom: 30px;
}

.chat-head {
	$size: 90px;
	height: $size;
	width: $size;
	border-radius: $size/2;
	border:  5px solid white;
	position: relative;
	left: -39px;
	z-index: 5;
}

.chat-name {
	color: $secondary-color;
	font-weight: bold;
	left: 80px;
}

.shift-up {
	position: relative;
	top: -90px;
}

/* boxwithpointer.css */
.bwp-caption {
	width: 100px;
	display: inline-block;
	color: $primary-color;
	background-color: white;
	padding: 5px 9px 5px 9px;
	text-align: center;
}
.bwp-arrow-down {
	$tri-height: 10px;
	position: relative;
	top: 30px;
	width: 0;
	height: 0;
/*	right: 63px;
*/	border-left: $tri-height solid transparent;
	border-right: $tri-height solid transparent;
	border-top: $tri-height solid white;
}
.bwp-active {
	background-color: $primary-color;
	color: white;
}
.bwp-tri-active {
	border-top-color: $primary-color;
}
.bwp-side-, .bwp-side-mid {
	right: 65px;
}
.bwp-side-left {
	right: 99px;
}
.bwp-side-right {
	right: 23px;
}

/* navbar.css */
/* need lots of specificity to override defaults */
div.navbar {
	background-color: white;
	margin-bottom: 0;
	font-weight: bold;

	button.login-btn {
		background-color: white;
		border: 1px solid black;
		border-radius: initial;
		font-weight: normal;

		a {
			color: black;
		}
	}
}

.navbar-nav {
	margin-top: 18px;
	margin-left: 25px;
}

.navbar-brand img {
	height: 100%;
}

#nav-prof-link, #nav-logout-link {
	color: $secondary-color;
	font-weight: bold;
}

.navbar-default .navbar-nav > li.active > a {
	color: $primary-color;
	background-color: initial;
}

.navbar-nav > li > .nav-img {
	display: block;
	height: 20px;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
}

.navbar-right > li > a {
	padding-top: 3px;
}


/* login.html */
.login-container {
	background-color: white;
	text-align: center;
	width: 50%;
	margin-top: 100px;
	padding-left: 0;
	padding-right: 0;

	.login-bar {
		width: 100%;
		height: 20px;
	}

	.login-headbar {
		background-color: $secondary-color;
		margin-bottom: 50px;
	}

	img {
		margin-bottom: 50px;
	}

	form {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30px;

		input[name="login"], input[name="password"] {
			width: 100%;
			/*TODO: replace lightgray*/
			background-color: lightgray;
			color: black;
			border: 2px solid lightgray;
		}
		input[name="login"] {
			margin-bottom: 14px;
		}

		.remember-check {
			float: left;
		}

		a {
			float: right;
		}

		button[type="submit"] {
			background-color: $primary-color;
			color: white;
			padding: 3px 5px;
			border: none;
			border-radius: 2px;
			width: 90px;
			float: left;
			clear: both;
		}

		.forgot-password {
			/*TODO: replace gray*/
			color: gray;
			text-decoration: underline;
		}

	}


	.signup-draw-container {
		border-top: 7px solid #F4F5F5;
		margin-top: 100px;
		padding-top: 30px;

		.signup-draw-primary {
			font-size: larger;
		}
		.signup-draw-secondary {
			font-size: small;
		}
		.signup-draw-button {
			background-color: white;
			width: 50%;
			border: 2px solid black;
			a {
				color: black;
			}
		}
	}

	.login-footbar {
		background-color: $primary-color;
		color: white;
		margin-top: 50px;
	}
}

.orange-text {
	color: $primary-color;
}
.blue-text {
	color: $secondary-color;
}

.dashboard {
	.row img {
		max-width: 100%;
	}

	.active .cat-name {
		color: $primary-color;
	}
}

.learning-home {}
