<div ng-controller="ConversationCtrl">
	<div class="row">
	<div id="conv-sidebar" class="col-md-3">
		<div class="greeting">
			<img class="greeting-head" ng-src="images/sample/jane.jpg"> <br>
			Hello <span class="user-name">{{ user.first_name }}</span>
		</div>
		<div>
			<div ng-repeat="step in steps">
				<div class="category" ng-class="{active: step.name == activeCat, even: $even, odd: $odd}">
					<span class="icon-container">
						<img ng-if="step.name != activeCat" ng-src="images/{{step.img + '.png'}}" class="icon">
						<img ng-if="step.name == activeCat" ng-src="images/{{step.img + '-orange.png'}}" class="icon">
					</span>
					<span class="cat-name">{{ step.name }}</span>
				</div>
			</div>
		</div>
	</div>
	<div id="conv-main" class="col-md-9">
		<div id="conv-progress-bar-container" class="row">
			<div class="col-md-10">
				<span class="prog-link"></span>
				<span>
					<box-with-pointer pointer="left" text="PRIVACY" id="prog-caption-left"></box-with-pointer>
					<div id="prog-circle-1" class="prog-circle">1</div>
				</span>
				<span style="left: 20%; position: relative;">
					<box-with-pointer text="INFO" active="true" id="prog-caption-mid"></box-with-pointer>
					<div id="prog-circle-2" class="prog-circle prog-active">2</div>
				</span>
				<span style="right: 0; position: absolute;">
					<box-with-pointer pointer="right" text="CALCULATE" id="prog-caption-right"></box-with-pointer>
					<div id="prog-circle-3" class="prog-circle" style="right:42px;">3</div>
				</span>
			</div>
			<div class="col-md-2">
				<button class="btn save-button" id="exit">Save & Exit</button>
			</div>
		</div>
		<div id="conv-chat">
		<img src="images/icon/fininfo.png" class="icon"></img>
		<h4 style="display: inline-block">YOUR FINANCIAL INFORMATION</h4><br>

		<form novalidate name="initialForm" class="convo-form">
			<div ng-if="q.category === activeCat && prevValid()" ng-repeat="q in questions">
				<qa-pair></qa-pair>
			</div>
		</form>
		<button class="btn save-button" id="continue" ng-click="nextCat()">Save & Continue</button>

		</div>
	</div>
	</div>
</div>
