<div class="container dashboard">
	<div class="row">
		<div class="col-md-4">
			<div class="greeting">
				<img class="greeting-head" ng-src="images/sample/jane.jpg"> <br>
				Hello <span class="user-name">{{ user.first_name }}</span>
			</div>
			<div class="sidebar-score">
				Wellness Score
				<div class="blue-box">
					450-GOOD
				</div>
				<span class="text-muted">As of: 11/20/2015</span>
			</div>
			<div>
				<div class="learning-side-nav">
					{{name='home';''}}
					<div ng-class="{active: name == activeCat}">
						<span class="icon-container">
							<img ng-if="name != activeCat" ng-src="images/icon/learning/home.png" class="icon">
							<img ng-if="name == activeCat" ng-src="images/icon/learning/home-orange.png" class="icon">
						</span>
						<span class="cat-name">Home</span>
					</div>
					{{name='dashboard';''}}
					<div ng-class="{active: name == activeCat}">
						<span class="icon-container">
							<img ng-if="name != activeCat" ng-src="images/icon/learning/dashboard.png" class="icon">
							<img ng-if="name == activeCat" ng-src="images/icon/learning/dashboard-orange.png" class="icon">
						</span>
						<span class="cat-name">Dashboard</span>
					</div>
					{{name='courses';''}}
					<div ng-class="{active: name == activeCat}">
						<span class="icon-container">
							<img ng-if="name != activeCat" ng-src="images/icon/learning/courses.png" class="icon">
							<img ng-if="name == activeCat" ng-src="images/icon/learning/courses-orange.png" class="icon">
						</span>
						<span class="cat-name">Courses</span>
					</div>
				</div>
			</div>
		</div>
		<ng-include src="includePage">
	</div>
</div>
