<p>This is the first-welcome view.</p>
<span>Welcome {{ user.first_name }}</span>
<p>At In The Black Financial Wellnss, we use...</p>

<div class="headbar"></div>
<div>Finding your score is easy!</div>
<a class="button btn get-score-button" ng-href="#/wellness">FIND MY SCORE</a>
<div class="footbar"></div>
