<div class="col-md-8" ng-controller="LearningCtrl">
	<div class="row">
		<div class="col-md-8">
			<div class="rec-class">
				<img ng-src="{{recommended.img}}" width="300" height="40">
				<div>{{recommended.description}}</div>
				<div>
					<img src="images/triple-one.png">
					LEARN MORE
				</div>
			</div>
		</div>
		<div class="col-md-4">
			Sort
			A-Z<br>
			Newest to Old<br>
			Category<br>
			ITB Recommends<br>
		</div>
	</div>
	<div class="row" ng-repeat="c in classes">
		<div class="col-md-6">
			<img ng-src="{{c.img}}" width="250" height="40">
				<div><a ng-href="/#/learning/{{c.id}}"><b>{{c.name}}</b></a></div>
				<div>{{c.description}}</div>
				<div>
					<img src="images/triple-one.png">
					LEARN MORE
				</div>
		</div>
	</div>
	<p>Popular Online Courses</p>
	<span>{{popular.name}}</span><br>
	<span>{{popular.subtitle}}</span><br>
	<div>{{popular.description}}</div>
	<img ng-src="{{popular.img}}">
</div>
