<div class="container dashboard">
	<div class="row">
		<div class="col-md-4">
			<div class="greeting">
				<img class="greeting-head" ng-src="images/sample/jane.jpg"> <br>
				Hello <span class="user-name">{{ user.first_name }}</span>
			</div>
			<div class="sidebar-score">
				Wellness Score
				<div class="blue-box">
					450-GOOD
				</div>
				<span class="text-muted">As of: 11/20/2015</span>
			</div>
			<div>
				<div class="orange-box">Improve your score</div>
				<div>Lorem Ipsum</div>
			</div>
			<div>
				<div class="orange-box">Next Steps</div>
				<div>Lorem Ipsum</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<div>
						<span>Your Financial Wellness Score!</span>
						<div class="gray-box">450</div>
						<img src="images/scale.png">
					</div>
				</div>
				<div class="col-md-6">
					<img src="images/bar-chart.png" alt="Bar Chart">
				</div>
			</div>
			<table>
				<th>
					<td>Category</td>
					<td>Score</td>
					<td>Explanation</td>
				</th>
				<tr>
					<td>Debt</td>
					<td>56<br><span class="text-muted">(out of 100)</span></td>
					<td>Lorem Ipsum</td>
				</tr>
				<tr ng-repeat="cat in categories">
					<td>{{cat.name}}</td>
					<td>{{cat.score}}<br><span class="text-muted">(out of 100)</span></td>
					<td>{{cat.explanation}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
