<p>Unbiased Financial Workshops...<br>
Get Your Financial Wellness Score!</p>
<img src="images/yeoman.png" height="200" width="200">
<p>GET A COMPLETE FINANCIAL PICTURE</p>
<p>IT'S EASY | IT'S FAST | IT'S EASY</p>
<a class="button btn get-score-button" ng-href="#/wellness">Get Your Score</a>
