<div class="col-md-8" ng-controller="WorkshopCtrl">
	<div class="row">
		<div class="col-md-6">
			<div>
				<div class="headbar">Welcome Back Jane!</div>
				<div>{{ipsum}}</div>
				<div>
					<img ng-src="images/icons/check-orange.png"> NOPE
					<img ng-src="images/icons/check.png"> YES
				</div>
			</div>
			<br><br>
			<div>
				<div class="headbar">Online Learning Progress</div>
				<div ng-repeat="lesson in lessons">
					<h4>{{lesson.name}}</h4>
					<span class="text-muted">{{lesson.progress}}% Complete</span>
					<span class="text-muted">{{lesson.description | limitTo:50}}</span>
					<img src="images/triple-one.png">
					<a href="#">COMPLETE LESSON ></a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div>
				<div class="headbar">Workshops You've Registered For</div>
				<div ng-repeat="c in registered">
					<img ng-src="{{c.img}}">
					<h4>{{c.name}}</h4>
					<span class="text-muted">{{c.date | date:'EEEE, MMMM d'}}</span><br>
					<span class="text-muted">{{c.time | date:'ha'}}, {{c.location}}</span>
					<button>Cancel Reservation</button>
				</div>
			</div>
			<div>
				<div class="headbar">Upcoming Workshops at Your Office</div>
				<div ng-repeat="c in upcoming">
					<h4>{{c.name}}</h4>
					<span class="text-muted">{{c.date | date:'EEEE, MMMM d'}}</span><br>
					<span class="text-muted">{{c.time | date:'ha'}}, {{c.location}}</span>
					<button>Register</button>
				</div>
			</div>
		</div>
	</div>
</div>
